# Ignore macOS system files
.DS_Store

# Dependency directories
node_modules/

# Environment variables
.env

# Logs
*.log

# Build output
/dist/

# Test coverage
/coverage/

# IDE/editor directories
.idea/
.vscode/


# PHPUnit result cache
.phpunit.result.cache

# PHP unit cache
.phpunit.result.cache

# Editor swap files and other temp files
*~
*.swp
*.swo
*.tmp
db.php
uploads/
plant-tracker-starter.code-workspace
